@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

* {
    box-sizing: border-box;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto
}

.contacts {
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.contacts a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: border 0.3s ease-in-out;
}

.contacts a:hover {
    border: 3px solid #C8B8FF;

}
 .button {
    background: #472DA2;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
}

 .button:hover {
    transform: scale(1.1);
}

.header {
    background-blend-mode: multiply;
    background-image: url(../assets/header-background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(71, 45, 162, 0.78);
}

.header .wrapper {
    padding: 25px 7px 170px 15px;
}

.header .head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 125px;
}

.header .head .logo {
    margin-right: 66px;
}

.header .head .menu {
    margin-right: 81px
}

.header .head .menu ul {
    display: flex;
    column-gap: 25px;
}

.header .head .menu ul li a {
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

.header .head .menu ul li a:after {
    display: block;
    position: absolute;
    top: 25px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    content: "";
    transition: width 0.3s ease-out;
}

.header .head .menu ul li a:hover:after,
.header .head .menu ul li a:focus:after {
    width: 100%;
}

.header .content .title {
    max-width: 610px;
    font-weight: 500;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.header .content .text {
    font-family: 'Raleway';
    font-style: normal;
    max-width: 546px;
    font-weight: 300;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    margin: 0 auto;
}

/* ----------------------------------about-us-------------------------------------------- */
.about-us {
    background-color: #F6F6F6;
}

.about-us .wrapper {
    padding-top: 92px;
    padding-bottom: 109px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.about-us .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 22px;
    color: #464646;
}

.about-us .content .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #808080;
    max-width: 890px;
}

.about-us .content .text:first-child {
    margin-bottom: 33px;
}

.about-us .content .text:last-child {
    position: relative;
    padding-left: 35px;
}

.about-us .content .text:last-child::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background-color: #6D4CE1;
    top: 0;
    left: 0;
}

/* ------------------------skills-developing------------------------------------ */
.skills-developing .wrapper {
    padding-top: 104px;
    padding-bottom: 87px;
    padding-right: 60px;
}

.skills-developing .title {
    margin: 0 auto 80px;
    max-width: 452px;
    font-weight: 600;
    font-size: 25px;
    line-height: 22px;
    color: #464646;
}

.skills-developing .container {
    display: flex;
    justify-content: space-between;
}

.skills-developing .container .column {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
    max-width: 410px;
}

.skills-developing .container .column-left {
    text-align: right;
}

.skills-developing .container .column-right {
    text-align: left;
}

.skills-developing .container .column-name {
    padding-top: 44px;
    color: #6D4CE1;
    font-weight: 600;
    font-size: 60px;
    line-height: 80px;
    max-width: 210px;
    text-align: center;
}

.skills-developing .container .column .item {
    display: flex;
    column-gap: 20px;
}

.skills-developing .container .column .item .image {
    min-width: 66px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #F6F6F6;
}



.skills-developing .container .column .item .content .item-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 23px;
    color: #464646;
}

.skills-developing .container .column .item .content .text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #808080;
}

/* -----------------------------------------about-trainer------------------------------------------- */
.about-trainer {
    background-color: #6D4CE1;
}

.about-trainer .wrapper {
    padding: 88px 68px 88px 0px;
    display: flex;
    justify-content: space-between;
}

.about-trainer .quotes-container {
    padding-top: 43px;
    max-width: 520px;
}

.about-trainer .quotes-container .item {
    position: relative;
    padding-left: 53px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.about-trainer .quotes-container .item::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 3px;
    background-color: #FFFFFF;
    top: 0;
    left: 0;
}

.about-trainer .quotes-container .item::after {
    position: absolute;
    content: "";
    background-image: url("../assets/brackets.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: -4px;
    left: 24px;
}

.about-trainer .quotes-container .item:first-child {
    margin-bottom: 60px;
}

.about-trainer .quotes-container .item:last-child {
    margin-top: 50px;
}

.about-trainer .information {
    padding-top: 60px;
    padding-bottom: 36px;
    padding-left: 74px;
    padding-right: 83px;
    width: 405px;
    background-color: rgba(32, 34, 43, 0.35);
    border-radius: 50%;
    text-align: center;

}

.about-trainer .information .trainer-name {
    max-width: 230px;
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 49px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.about-trainer .information .text {
    max-width: 230px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

/* -------------------------------course-program------------------------------------------- */
.course-program .wrapper {
    padding-top: 119px;
    padding-bottom: 132px;

}

.course-program .title {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 44px;
    color: #464646;
    max-width: 250px;
    margin: 0 auto 38px;
}
.course-program .join{
    display: flex; 
    justify-content: center;
}
.course-program .join .button{
    padding: 18px 43px;
}

.course-program .course-duration {
    margin: 0 auto;
    text-align: center;
    border: 2px solid #6D4CE1;
    max-width: 350px;
    margin-bottom: 60px;
}

.course-program .course-duration .top {
    padding-top: 28px;
    padding-bottom: 33px;
}

.course-program .course-duration .top span {
    display: block;
    font-weight: 600;
    font-size: 22px;
    line-height: 23px;
    color: #6D4CE1;
}

.course-program .course-duration .top .hours-count {
    font-weight: 600;
    font-size: 53px;
    line-height: 55px;
    color: #6D4CE1;
}

.course-program .course-duration .bottom {
    padding: 15px 48px 27px;
    background-color: #6D4CE1;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #C8B8FF;
}

.course-program .purposes-box {
    padding-top: 61px;
    padding-bottom: 86px;
    border: 2px solid #6D4CE1;
    margin: 0 auto 74px;
    text-align: center;
    max-width: 920px;
}

.course-program .purposes-box .title {
    max-width: 471px;
}

.course-program .purposes-box .purposes {
    margin: 0 auto;
    max-width: 710px;
    display: flex;
    flex-direction: column;
    row-gap: 33px;
}

.course-program .purposes-box .purposes .purpose {
    position: relative;
    font-weight: 600;
    font-size: 22px;
    line-height: 23px;
    color: #464646;

}

.course-program .purposes-box .purposes .purpose::before,
.course-program .purposes-box .purposes .purpose::after {
    position: absolute;
    content: "";
    width: 41px;
    top: -50%;
    height: 41px;
    border: 1px solid #6D4CE1;
    border-radius: 50%;
    background: url("../assets/checked.svg") no-repeat center;
}

.course-program .purposes-box .purposes .purpose::before {

    left: 0;
}

.course-program .purposes-box .purposes .purpose::after {
    right: 0;
}

.course-program .recording {
    display: flex;
    justify-content: center;
}

/*---------------------------videos-----------------------  */
.videos {
    background-blend-mode: multiply;
    background-image: url(../assets/videos-background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(71, 45, 162, 1);
}

.videos .wrapper {
    padding-top: 133px;
    padding-bottom: 110px;
    display: flex;
    justify-content: center;
    column-gap: 80px;
    row-gap: 60px;
    flex-wrap: wrap;
}

.videos .video {
    position: relative;
    cursor: pointer
}

.videos .video img {
    width: 100%;
    height: auto;
}

.videos .video .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 94px;
    height: 63px;
    background-color: rgb(0%, 0%, 0%, 0.36);
    border-radius: 25px;
    border: none;
    transition: all .3s ease-in-out;

}

.videos .video .red {
    background-color: rgba(223, 34, 34, 1);
}

.videos .video .play:hover {
    background-color: rgba(223, 34, 34, 1);
}

/* ----------------------cost--------------------------------------------- */
.cost {
    background-color: #6D4CE1;
}

.cost .wrapper {
    padding: 94px 0 105px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cost .title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    line-height: 64px;
    color: #FFFFFF;
}

.cost .figure {
    font-weight: 600;
    font-size: 100px;
    line-height: 160px;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.cost .about-diskounts {
    position: relative;
    max-width: 315px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #C8B8FF;
    padding-left: 40px;
}

.cost .about-diskounts::before {
    z-index: 2;
    display: block;
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    left: 0;
    top: -10px;
    background-image: url(../assets/percent.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.cost .about-diskounts::after {
    z-index: 1;
    display: block;
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    left: 0;
    top: -10px;
    background-color: #472DA2;
    border-radius: 50%;
}

/* -------------------recording------------------------------------------ */
.recording {
    text-align: center;
    background-blend-mode: multiply;
    background-image: url(../assets/recording-background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(221, 220, 226, 0.78);
}

.recording .wrapper {
    padding-top: 110px;
    padding-bottom: 132px;
}

.recording .title {
    max-width: 575px;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: #464646;
    margin: 0 auto 33px;

}

.recording .text {
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #808080;
    max-width: 900px;
    margin-bottom: 44px;
}
.recording .record-form .send{
    display: flex;
    justify-content: center;
}

.recording .record-form .container {
    margin: 0 auto;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin-bottom: 66px;
}

.recording .record-form .container input {
    padding: 15px 0px 15px 27px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #808080;
    border: 2px solid inherit;
}

.recording .record-form .container input:focus {
    border: 2px solid #6D4CE1;
}
.recording .record-form .button{
    padding:18px 112px;
}