@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

* {
    box-sizing: border-box;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto
}

.contacts {
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.contacts a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.contacts a:hover {
    border: 3px solid #C8B8FF;

}

.header {
    background-blend-mode: multiply;
    background-image: url(../assets/header-background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(71, 45, 162, 0.78);
}

.header .wrapper {
    padding: 25px 7px 170px 15px;
}

.header .head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 125px;
}

.header .head .logo {
    margin-right: 66px;
}

.header .head .menu {
    margin-right: 81px
}

.header .head .menu ul {
    display: flex;
    column-gap: 25px;
}

.header .head .menu ul li a {
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

.header .head .menu ul li a:after {
    display: block;
    position: absolute;
    top: 25px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    content: "";
    transition: width 0.3s ease-out;
}

.header .head .menu ul li a:hover:after,
.header .head .menu ul li a:focus:after {
    width: 100%;
}

.header .content .title {
    max-width: 610px;
    font-weight: 500;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.header .content .text {
    font-family: 'Raleway';
    font-style: normal;
    max-width: 546px;
    font-weight: 300;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    margin: 0 auto;
}

/* ----------------------------------about-us-------------------------------------------- */
.about-us {
    background-color: #F6F6F6;
}

.about-us .wrapper {
    padding-top: 92px;
    padding-bottom: 109px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.about-us .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 22px;
    color: #464646;
}

.about-us .content .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #808080;
    max-width: 890px;
}

.about-us .content .text:first-child {
    margin-bottom: 33px;
}

.about-us .content .text:last-child {
    position: relative;
    padding-left: 35px;
}

.about-us .content .text:last-child::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background-color: #6D4CE1;
    top: 0;
    left: 0;
}

/* ------------------------skills-developing------------------------------------ */
.skills-developing .wrapper {
    padding-top: 104px;
    padding-bottom: 87px;
    padding-right: 60px;
}

.skills-developing .title {
    margin: 0 auto 80px;
    max-width: 452px;
    font-weight: 600;
    font-size: 25px;
    line-height: 22px;
    color: #464646;
}

.skills-developing .container {
    display: flex;
    justify-content: space-between;
}

.skills-developing .container .column {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
    max-width: 410px;
}

.skills-developing .container .column-left {
    text-align: right;
}

.skills-developing .container .column-right {
    text-align: left;
}

.skills-developing .container .column-name {
    padding-top: 44px;
    color: #6D4CE1;
    font-weight: 600;
    font-size: 60px;
    line-height: 80px;
    max-width: 210px;
    text-align: center;
}

.skills-developing .container .column .item {
    display: flex;
    column-gap: 20px;
}

.skills-developing .container .column .item .image {
    min-width: 66px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #F6F6F6;
}



.skills-developing .container .column .item .content .item-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 23px;
    color: #464646;
}

.skills-developing .container .column .item .content .text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #808080;
}

/* -----------------------------------------about-trainer------------------------------------------- */
.about-trainer {
    background-color: #6D4CE1;
}

.about-trainer .wrapper {
    padding: 88px 68px 88px 0px;
    display: flex;
    justify-content: space-between;
}

.about-trainer .quotes-container {
    padding-top:43px;
    max-width: 520px;
}

.about-trainer .quotes-container .item {
    position: relative;
    padding-left: 53px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.about-trainer .quotes-container .item::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 3px;
    background-color: #FFFFFF;
    top: 0;
    left: 0;
}

.about-trainer .quotes-container .item::after {
    position: absolute;
    content: "";
    background-image: url("../assets/brackets.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: -4px;
    left: 24px;
}

.about-trainer .quotes-container .item:first-child {
    margin-bottom: 60px;
}

.about-trainer .quotes-container .item:last-child {
    margin-top: 50px;
}

.about-trainer .information {
    padding-top:60px;
    padding-bottom:36px;
    padding-left:74px;
    padding-right: 83px;
    width: 405px;
    background-color: rgba(32, 34, 43, 0.35);
    border-radius: 50%;
    text-align: center;

}

.about-trainer .information .trainer-name {
    max-width: 230px;
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 49px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.about-trainer .information .text {
    max-width: 230px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}