@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

* {
    box-sizing: border-box;
    color: #FFFFFF;
}

body {
    font-family: var(--familie);
    font-size: var(--base-size);
    font-weight: var(--weight-normal);
    line-height: var(--base-line-height);
    font-style: normal;
}

.back-top {
    width: 50px;
    height: 50px;
    background: radial-gradient(#dd03e4, #5611ec);
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    z-index: 1000;
}

.back-top:hover {
    transform: scale(1.2);
}

.back-top .up {
    width: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(45deg);
    margin-top: 18px;
    margin-left: 19px;
}

.back-top-show {
    display: block;
}

.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto
}

.contacts {
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.contacts a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: border 0.3s ease-in-out;
}


.button {
    background: #472DA2;
    border: none;
    border-radius: 30px;
    font-weight: var(--weight-semi-bold);
    font-size: 22px;
    line-height: var(--base-line-height);
    text-align: center;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width:769px) {
    .button {
        font-size: 14px;
    }
}

.button:hover {
    transform: scale(1.1);
}

.header {
    background-blend-mode: multiply;
    background-image: url(../assets/header-background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(71, 45, 162, 0.78);
}

.header .wrapper {
    padding: 25px 7px 170px 15px;
}

.header .head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 125px;
}

.header .head .logo {
    margin-right: 66px;
}

.header .head .menu {
    margin-right: 81px
}

.header .head .menu .logo {
    display: none;
}

.header .head .burger {
    display: none;
    width: 44px;
    height: 36px;
    position: relative;
    background: #000000;
    border: 8px solid #000000;
    border-radius: 50%;
}

.header .head .burger span {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background: #FFFFFF;
    transform: translateY(-50%);

}

.header .head .burger:hover {
    cursor: pointer;
}

.header .head .burger::before,
.header .head .burger::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: #FFFFFF;
}

.header .head .burger::before {
    top: 0;
}

.header .head .burger::after {
    bottom: 0;
}

/* ------------------------animation for burger button----------------------------------------------- */
.header .head .burger.active::before {
    animation-name: move-before-down;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes move-before-down {

    35% {
        top: 50%;
        transform: rotate(0deg);
    }

    100% {
        top: 50%;
        transform: rotate(45deg);
    }
}

.header .head .burger.close::before {
    animation-name: move-before-up;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes move-before-up {
    0% {
        top: 50%;
        transform: rotate(45deg);
    }

    35% {
        top: 50%;
        transform: rotate(0deg);
    }

    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

.header .head .burger.active::after {
    animation-name: move-after-up;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes move-after-up {

    35% {
        top: 50%;
        transform: rotate(0deg);
    }

    100% {
        top: 50%;
        transform: rotate(-45deg);
    }
}

.header .head .burger.close::after {
    animation-name: move-after-down;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes move-after-down {
    0% {
        bottom: 50%;
        transform: rotate(-45deg);
    }

    35% {
        bottom: 50%;
        transform: rotate(0deg);
    }

    100% {
        bottom: 0;
        transform: rotate(0deg);
    }
}

/* ------------------------------------------------------------------------------------------------------- */
.header .head .burger.active span {
    display: none;

}


.header .head .menu ul {
    display: flex;
    column-gap: 25px;
}

/* ------------------------------animation for menu and background--------------------------------------- */

.header .head .menu.active {
    display: block;
    z-index: 30;
    position: fixed;
    margin-right: 0px;
    width: 320px;
    height: 100%;
    top: 0;
    right: -200%;
    padding-top: 40px;
    background: var(--base-color);
    animation-name: move-menu;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes move-menu {

    100% {
        right: 0;
    }
}

.header .head .menu.active .logo {
    display: block;
    text-align: center;
    margin-bottom: 60px;
    margin-right: 0px;
}

.header .head .menu .overlay {
    display: none;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: add-overlay;
    animation-duration: 900ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes add-overlay {
    100% {
        background: rgba(71, 45, 162, 0.7);
    }
}

/* ----------------------------------------------------------------------------------------------------------------- */
.header .head .menu.active .overlay {
    display: block;
}

.header .head .menu ul li a {
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

.header .head .menu ul li a:after {
    display: block;
    position: absolute;
    top: 25px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    content: "";
    transition: width 0.3s ease-out;
}

.header .head .menu ul li a:hover:after,
.header .head .menu ul li a:focus:after {
    width: 100%;
}

.header .head .menu.active ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 25px;
    display: flex;
    transition: all 1s ease-in-out;
}

.header .head .menu.active ul li a {
    font-size: 26px;
}

.header .head .menu.active ul li a::after {
    top: 34px;
}

.header .content .title {
    max-width: 610px;
    font-weight: var(--weight-medium);
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.header .content .text {
    max-width: 546px;
    font-weight: var(--weight-light);
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width:1200px) {
    .header .head {
        justify-content: space-between;
    }

    .header .head .burger {
        position: fixed;
        z-index: 40;
        top: 25px;
        right: 25px;
        display: block;
    }

    .header .head .menu {
        display: none;
    }

    .header .head .contacts {
        display: none;
    }

}

@media screen and (max-width:769px) {
    .header .wrapper {
        padding: 20px 7px 100px 15px;
    }

    .header .head {
        margin-bottom: 100px
    }

    .header .head .burger {
        top: 20px;
    }

    .header .content .title {
        max-width: 560px;
        font-weight: var(--weight-semi-bold);
        font-size: var(--base-title-size);
    }

    .header .content .text {
        font-size: var(--base-size);
    }
}

@media screen and (max-width:560px) {
    .header .content .title {
        line-height: 36px;
        max-width: 320px;
        font-weight: var(--weight-normal);
        font-size: 32px;
    }

    .header .content .text {
        font-size: 14px;
        max-width: 320px;
        font-weight: var(--weight-light);
        line-height: 19px;
    }
}

/* ----------------------------------about-us-------------------------------------------- */
.about-us {
    background-color: #F6F6F6;
}

.about-us .wrapper {
    padding-top: 92px;
    padding-bottom: 109px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.about-us .title {
    font-weight: var(--weight-semi-bold);
    font-size: var(--base-title-size);
    line-height: 22px;
    color: #464646;
}

.about-us .content .text {
    color: #808080;
    max-width: 890px;
}

.about-us .content .text:first-child {
    margin-bottom: 33px;
}

.about-us .content .text:last-child {
    position: relative;
    padding-left: 35px;
}

.about-us .content .text:last-child::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background-color: var(--base-color);
    top: 0;
    left: 0;
}

@media screen and (max-width:1200px) {
    .about-us .wrapper {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
        align-items: center;
    }

    .about-us .title {
        margin-bottom: 50px;
    }

}

@media screen and (max-width:940px) {
    .about-us .wrapper {
        padding-left: 30px;
        padding-right: 20px;
    }
}

@media screen and (max-width:769px) {
    .about-us .title {
        font-size: var(--tablet-title-size);
    }

    .about-us .content .text {
        font-size: 14px;
    }
}

@media screen and (max-width:560px) {
    .about-us .wrapper {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .about-us .title {
        font-size: 28px;
    }

    .about-us .text {
        font-size: 12px;
    }
}

/* ------------------------skills-developing------------------------------------ */
.skills-developing .wrapper {
    padding-top: 104px;
    padding-bottom: 87px;
    padding-right: 60px;
}

.skills-developing .title {
    margin: 0 auto 80px;
    max-width: 452px;
    font-weight: var(--weight-semi-bold);
    font-size: 25px;
    line-height: 22px;
    color: #464646;
}

.skills-developing .container {
    display: flex;
    justify-content: space-between;
}

.skills-developing .container .column {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
    max-width: 410px;
}

.skills-developing .container .column-left {
    text-align: right;
}

.skills-developing .container .column-right {
    text-align: left;
}

.skills-developing .container .column-name {
    padding-top: 44px;
    color: var(--base-color);
    font-weight: var(--weight-semi-bold);
    font-size: 60px;
    line-height: 80px;
    max-width: 210px;
    text-align: center;
}

.skills-developing .container .column .item {
    display: flex;
    column-gap: 20px;
}

.skills-developing .container .column .item .image {
    min-width: 66px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #F6F6F6;
}



.skills-developing .container .column .item .content .item-title {
    font-weight: var(--weight-semi-bold);
    font-size: 22px;
    line-height: 23px;
    color: #464646;
}

.skills-developing .container .column .item .content .text {
    font-weight: var(--weight-normal);
    font-size: var(--base-size);
    color: #808080;
}

@media screen and (max-width:1000px) {
    .skills-developing .wrapper {
        padding-top: 92px;
        padding-bottom: 109px;
        padding-right: 0px;
    }

    .skills-developing .title {
        display: none;
    }

    .skills-developing .container {
        flex-direction: column;
        align-items: center;
    }

    .skills-developing .container .column {
        text-align: center;
    }


    .skills-developing .container .column-name {
        max-width: 370px;
        margin-bottom: 40px;
        padding: 0;
        order: 1;
    }

    .skills-developing .container .column-left {
        order: 2;
        margin-bottom: 27px;
    }

    .skills-developing .container .column-right {
        order: 3;

    }

    .skills-developing .container .column-right .item {
        flex-direction: row-reverse;
    }
}

@media screen and (max-width:769px) {
    .skills-developing .container .column-name {
        font-size: var(--tablet-title-size);
    }

    .skills-developing .container .column .item .content .item-title {
        font-size: 20px;
    }

    .skills-developing .container .column .item .content .text {
        font-size: 14px;
    }
}

@media screen and (max-width:560px) {
    .skills-developing .wrapper {
        padding: 60px 10px
    }

    .skills-developing .container {
        padding-left: 10px;
    }

    .skills-developing .container .column-name {
        font-size: 28px;
    }

    .skills-developing .container .column {
        min-width: 320px;
    }

    .skills-developing .container .column .item {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
    }

    .skills-developing .container .column .item .content .text {
        font-size: 12px;
    }

    .skills-developing .container .column .item .content .item-title {
        font-size: 18px;
    }
}

/* -----------------------------------------about-trainer------------------------------------------- */
.about-trainer {
    background-color: var(--base-color);
}

.about-trainer .wrapper {
    padding: 88px 68px 88px 0px;
    display: flex;
    justify-content: space-between;
}

.about-trainer .quotes-container {
    padding-top: 43px;
    max-width: 520px;
}

.about-trainer .quotes-container .item {
    position: relative;
    padding-left: 53px;
    font-weight: var(--weight-normal);
}

.about-trainer .quotes-container .item::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 3px;
    background-color: #FFFFFF;
    top: 0;
    left: 0;
}

.about-trainer .quotes-container .item::after {
    position: absolute;
    content: "";
    background-image: url("../assets/brackets.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: -4px;
    left: 24px;
}

.about-trainer .quotes-container .item:first-child {
    margin-bottom: 60px;
}

.about-trainer .quotes-container .item:last-child {
    margin-top: 50px;
}

.about-trainer .information {
    padding-top: 60px;
    padding-bottom: 36px;
    padding-left: 74px;
    padding-right: 83px;
    width: 405px;
    background-color: rgba(32, 34, 43, 0.35);
    border-radius: 50%;
    text-align: center;

}

.about-trainer .information .trainer-name {
    max-width: 230px;
    font-weight: var(--weight-semi-bold);
    font-size: 46px;
    line-height: 49px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.about-trainer .information .text {
    max-width: 230px;
    font-weight: var(--weight-normal);
}

@media screen and (max-width:1200px) {
    .about-trainer .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width:1000px) {
    .about-trainer .wrapper {
        flex-direction: column;
        align-items: center;
        padding-right: 0px;
    }

    .about-trainer .quotes-container {
        order: 2;
    }

    .about-trainer .information {
        order: 1
    }
}

@media screen and (max-width:769px) {
    .about-trainer .information {
        padding: 60px 80px 64px 90px;
    }

    .about-trainer .information .trainer-name {
        font-size: var(--tablet-title-size);
    }

    .about-trainer .information .text,
    .about-trainer .quotes-container .item {
        font-size: 14px;
    }
}

@media screen and (max-width:560px) {
    .about-trainer .wrapper {
        padding: 60px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-trainer .information {
        max-width: 310px;
    }

    .about-trainer .information {
        padding: 40px 88px 31px 82px;
    }

    .about-trainer .information .trainer-name {
        font-size: 28px;
        line-height: 26px;
    }

    .about-trainer .information .text,
    .about-trainer .quotes-container .item {
        font-size: 12px;
        line-height: 18px;
    }
}

/* -------------------------------course-program------------------------------------------- */
.course-program .wrapper {
    padding-top: 119px;
    padding-bottom: 132px;

}

.course-program .title {
    font-weight: var(--weight-semi-bold);
    font-size: 25px;
    line-height: 44px;
    color: #464646;
    max-width: 250px;
    margin: 0 auto 38px;
}

.course-program .join {
    display: flex;
    justify-content: center;
}

.course-program .join .button {
    padding: 18px 43px;
}

.course-program .course-duration {
    margin: 0 auto;
    text-align: center;
    border: 2px solid var(--base-color);
    max-width: 350px;
    margin-bottom: 60px;
}

.course-program .course-duration .top {
    padding-top: 28px;
    padding-bottom: 33px;
}

.course-program .course-duration .top span {
    display: block;
    font-weight: var(--weight-semi-bold);
    font-size: 22px;
    line-height: 23px;
    color: var(--base-color);
}

.course-program .course-duration .top .hours-count {
    font-weight: var(--weight-semi-bold);
    font-size: 53px;
    line-height: 55px;
    color: var(--base-color);
}

.course-program .course-duration .bottom {
    padding: 15px 48px 27px;
    background-color: var(--base-color);
    font-weight: var(--weight-semi-bold);
    font-size: 22px;
    color: #C8B8FF;
}

.course-program .purposes-box {
    padding-top: 61px;
    padding-bottom: 86px;
    border: 2px solid var(--base-color);
    margin: 0 auto 74px;
    text-align: center;
    max-width: 920px;
}

.course-program .purposes-box .title {
    max-width: 471px;
}

.course-program .purposes-box .purposes {
    margin: 0 auto;
    max-width: 710px;
    display: flex;
    flex-direction: column;
    row-gap: 33px;
}

.course-program .purposes-box .purposes .purpose {
    position: relative;
    font-weight: var(--weight-semi-bold);
    font-size: 22px;
    line-height: 23px;
    color: #464646;

}

.course-program .purposes-box .purposes .purpose::before,
.course-program .purposes-box .purposes .purpose::after {
    position: absolute;
    content: "";
    width: 41px;
    top: -50%;
    height: 41px;
    border: 1px solid var(--base-color);
    border-radius: 50%;
    background: url("../assets/checked.svg") no-repeat center;
}

.course-program .purposes-box .purposes .purpose::before {

    left: 0;
}

.course-program .purposes-box .purposes .purpose::after {
    right: 0;
}

.course-program .recording {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:769px) {
    .course-program .wrapper {
        padding: 80px 20px;
    }

    .course-program .title {
        font-size: var(--tablet-title-size);
        max-width: 318px;
    }

    .course-program .course-duration {
        max-width: 318px;
    }

    .course-program .course-duration .top span {
        font-size: 14px;
    }

    .course-program .course-duration .top .hours-count {
        font-size: 32px;
    }

    .course-program .course-duration .bottom {
        font-size: 18px;
    }

    .course-program .purposes-box .title {
        font-size: 20px;
    }

    .course-program .purposes-box .purposes {
        max-width: 500px;
    }

    .course-program .purposes-box .purposes .purpose::before,
    .course-program .purposes-box .purposes .purpose::after {
        width: 30px;
        height: 30px;
        top: -30%;
    }

    .course-program .purposes-box .purposes .purpose {
        font-size: 14px;
    }
}

@media screen and (max-width:560px) {
    .course-program .wrapper {
        padding: 60px 10px;
    }

    .course-program .title {
        font-size: 28px;
        text-align: center;

    }

    .course-program .course-duration .top span {
        font-size: 12px;
    }

    .course-program .course-duration .top .hours-count {
        font-size: 28px;
    }

    .course-program .purposes-box .title {
        font-size: 22px;
        line-height: 26px;
    }

    .course-program .purposes-box .purposes .purpose::before,
    .course-program .purposes-box .purposes .purpose::after {
        display: none;
    }

}

/*---------------------------videos-----------------------  */
.videos {
    background-blend-mode: multiply;
    background-image: url(../assets/videos-background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(71, 45, 162, 1);
}

.videos .wrapper {
    padding-top: 133px;
    padding-bottom: 110px;
    display: flex;
    justify-content: center;
    column-gap: 80px;
    row-gap: 60px;
    flex-wrap: wrap;
}

.videos .video {
    position: relative;
    cursor: pointer
}

.videos .video img {
    width: 100%;
    height: auto;
}

.videos .video .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 94px;
    height: 63px;
    background-color: rgb(0%, 0%, 0%, 0.36);
    border-radius: 25px;
    border: none;
    transition: all .3s ease-in-out;

}

.videos .video .red {
    background-color: rgba(223, 34, 34, 1);
}

.videos .video .play:hover {
    background-color: rgba(223, 34, 34, 1);
}

@media screen and (max-width:560px) {
    .videos .wrapper {
        padding: 60px 10px
    }
}

/* ----------------------cost--------------------------------------------- */
.cost {
    background-color: #6D4CE1;
}

.cost .wrapper {
    padding: 94px 0 105px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cost .title {
    text-transform: uppercase;
    font-weight: var(--weight-semi-bold);
    font-size: var(--base-title-size);
    line-height: 64px;
    color: #FFFFFF;
}

.cost .figure {
    font-weight: var(--weight-semi-bold);
    font-size: 100px;
    line-height: 160px;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.cost .about-diskounts {
    position: relative;
    max-width: 315px;
    font-weight: var(--weight-normal);
    font-size: 16px;
    line-height: 25px;
    color: #C8B8FF;
    padding-left: 40px;
}

.cost .about-diskounts::before {
    z-index: 2;
    display: block;
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    left: 0;
    top: -10px;
    background-image: url(../assets/percent.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.cost .about-diskounts::after {
    z-index: 1;
    display: block;
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    left: 0;
    top: -10px;
    background-color: #472DA2;
    border-radius: 50%;
}

@media screen and (max-width:1200px) {
    .cost .wrapper {
        justify-content: center;
        column-gap: 40px;
    }

    .cost .figure {
        font-size: 80px;
    }

    .cost .title {
        font-size: 32px;
    }

    .cost .about-diskounts {
        font-size: 14px;
    }
}

@media screen and (max-width:1000px) {
    .cost .wrapper {
        padding-left: 0px;
        flex-direction: column;
        align-items: center;
    }

    .cost .title {
        font-size: 40px;
    }
}

@media screen and (max-width:769px) {
    .cost .wrapper {
        padding: 80px 0px;
    }

    .cost .title {
        font-size: var(--tablet-title-size);
    }

    .cost .figure {
        font-size: 60px;
    }
}

@media screen and (max-width:560px) {
    .cost .wrapper {
        padding: 60px 10px
    }

    .cost .title {
        font-size: 28px;
    }
}

/* -------------------recording------------------------------------------ */
.recording {
    text-align: center;
    background-blend-mode: multiply;
    background-image: url(../assets/recording-background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(221, 220, 226, 0.78);
}

.recording .wrapper {
    padding-top: 110px;
    padding-bottom: 132px;
}

.recording .title {
    max-width: 575px;
    font-weight: var(--weight-semi-bold);
    font-size: var(--base-title-size);
    line-height: 55px;
    text-align: center;
    color: #464646;
    margin: 0 auto 33px;

}

.recording .text {
    margin: 0 auto;
    font-weight: var(--weight-normal);
    line-height: 30px;
    text-align: center;
    color: #808080;
    max-width: 900px;
    margin-bottom: 44px;
}

.recording .record-form .send {
    display: flex;
    justify-content: center;
}

.recording .record-form .container {
    margin: 0 auto;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin-bottom: 66px;
}

.recording .record-form .container input {
    padding: 15px 0px 15px 27px;
    font-weight: var(--weight-normal);
    font-size: var(--base-size);
    line-height: 26px;
    color: #808080;
    border: 2px solid inherit;
}

.recording .record-form .container input:focus {
    border: 2px solid var(--base-color);
}

.recording .record-form .button {
    padding: 18px 112px;
}

@media screen and (max-width:769px) {
    .recording .wrapper {
        padding: 80px 20px;
    }

    .recording .title {
        max-width: 460px;
        font-size: var(--tablet-title-size);
    }

    .recording .text {
        font-size: 14px;
    }

    .recording .record-form .container input {
        font-size: 14px;
        padding: 6px 0px 6px 16px;
    }

    .recording .record-form .button {
        padding: 10px 112px;
    }
}

@media screen and (max-width:560px) {
    .recording .wrapper {
        padding: 60px 10px;
    }

    .recording .title {
        max-width: 320px;
        font-size: 28px;
        line-height: 28px;
    }

    .recording .text {
        font-size: 12px;
    }

    .recording .record-form .container input {
        font-size: 12px;
    }
}

/* ------------------------------map-------------------------------------------------- */
.map {
    position: relative;
    height: 616px;
}

.map-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.map .content {
    position: relative;
    z-index: 2;
    height: 100%;
    background: rgba(0, 0, 0, 0.2)
}

.map .wrapper {
    padding-left: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.map .contacts-information {
    background: var(--base-color);
    padding: 55px 122px 76px 55px;
}

.map .contacts-information .title {
    font-weight: var(--weight-semi-bold);
    font-size: 25px;
    line-height: 44px;
}

.map .contacts-information .data {
    margin-bottom: 40px;
}

@media screen and (max-width:769px) {
    .map {
        height: 500px;
    }

    .map .contacts-information {
        padding: 5px 20px 20px 20px;
    }
}
@media screen and (max-width:560px) {
    .map {
        height: 500px;
    }
    .map .contacts-information .data {
        margin-bottom: 10px;
    }
    .map .contacts-information {
        padding: 5px 20px 20px 20px;
    }
}
/* ------------------------------footer------------------------------- */
.footer {
    background: #2A2A2A;
}

.footer .wrapper {
    padding: 28px 7px 27px 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .contacts a {
    border: 1px solid var(--base-color);

}

.footer .contacts a i {
    color: var(--base-color);
}

.footer .information {

    max-width: 715px;
}

.footer .information span {
    font-weight: var(--weight-normal);
    font-size: 12px;
    line-height: 20px;
    color: #9B9B9B;
    display: block;
}

@media screen and (max-width:940px) {
    .footer .wrapper {
        padding: 28px 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 20px;
    }
}

@media screen and (max-width:769px) {
    .footer .information span {
        font-size: 10px;
    }
}